<div class="sales-page container">
    <div class="row justify-content-center">
        {{>sales-page}}
        <div class="col-10 review-shop">
            <h1 class='page-title mb-4 text-center text-uppercase fw-bold'>
                Reviews
            </h1>
            <div class="row">
                <div class="col-12 review-section">
                    {{#each evaluates}}
                    <div class="card mb-4 shadow-sm border-0 rounded-4 mx-4">
                        <div class="card-header d-flex justify-content-between align-items-center bg-light rounded-top-4">
                            <strong>ORDER CODE: {{this._id}}</strong>
                            <span class="badge bg-info text-dark">Product Review</span>
                        </div>
                        <div class="card-body">
                            <div class='information d-flex align-items-center'>
                                <div class='avatar me-3'>
                                    <a href='#'>
                                        <img class='img-avatar rounded-circle border border-2' src="{{this.idAccount.avatar}}" alt='Avatar' style="width: 50px; height: 50px;" />
                                    </a>
                                </div>
                                <div class='infor-span'>
                                    <span class='name fw-bold'>{{this.idAccount.lastName}} {{this.idAccount.firstName}}</span>
                                    <div class='date mt-1 text-muted small'>{{convertDate this.date}}</div>
                                </div>
                            </div>
                            <div class="middle mt-4">
                                <h2 class="card-title fs-5 fw-bold">Tên sản phẩm: {{this.idProduct.name}}</h2>
                                <p class="card-text content">{{this.content}}</p>
                            </div>
                        </div>

                        <div class="card-footer d-flex justify-content-between align-items-center reply-cmt bg-light rounded-bottom-4">
                            <button type="button" class="btn btn-secondary text-uppercase" data-bs-toggle="modal"
                                data-bs-target="#replyModal-{{this._id}}">REPLY</button>
                        </div>

                        <div class="modal fade" id="replyModal-{{this._id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content rounded-4">
                                    <div class="modal-header">
                                        <h2 class="modal-title fs-4" id="exampleModalLabel">Reply to Review</h2>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <form method='POST' class="reply-form" action="/evaluate/review/{{this._id}}/reply">
                                        <div class="modal-body evaluate-body">
                                            <div class="mb-3 review">
                                                <label for="message-text" class="col-form-label fw-bold">Comment:</label>
                                                <textarea class="form-control input-size auto-expand" cols='60' rows='5'
                                                    id="message-text" name='reply'
                                                    placeholder="Write a reply..."></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                                            <button class="btn btn-primary submit-btn" onclick="submitForm('{{this._id}}')">SUBMIT</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="col">
                        <div class="announcement alert alert-warning text-center" style="font-size: 2rem; margin-top: 2rem;">
                            You don't have any reviews!
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="col-12 mt-4">
                    <script>
                        let numberOfItems = {{ _numberOfItems }};
                        let limit = {{ _limit }};
                        let currentPage = {{ _currentPage }};
                        let leftMost = currentPage - ((currentPage - 1) % 3);
                    </script>
                    {{>pagination}}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('.auto-expand').forEach((textarea) => {
        textarea.addEventListener('input', function () {
            this.style.height = 'auto';
            this.style.height = this.scrollHeight + 'px';
            this.closest('.modal-dialog').style.maxWidth = '80%'; // Adjust modal size
        });
    });
</script>

<script src="/js/review-shop.js"></script>
